$secondary-color: var(--secondary-color);

header {
    background-color: $secondary-color;
    padding: 20px;
    color: whitesmoke;
    
    a {
        color: whitesmoke;
        text-decoration: none
    }
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}